h1 {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

body {
    margin: 0px;
    overflow: hidden;
  }
  
  .sphere {
    fill: #4242e4;
  }
  
  .country {
    fill: lightgreen;
    stroke: black;
    stroke-opacity: 0.1;
  }